@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #001F3D;
    --secondary-color: #FFFFFF;
    --accent-color: #CBCBCB;
    --font-color: #34495e;
    --background-color: #ecf0f1;
    --font-heading: 'Merriweather', sans-serif;
    --font-body: 'Google Sans', sans-serif;
}

body {
    background: var(--background-color);
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    color: var(--primary-color);
    font-weight: 800;
}

/*Header Section*/
.header {
    background-color: var(--primary-color);
    color: white;
    padding: .8rem 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header h1 {
    color: var(--secondary-color);
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: var(--font-body);
    margin-right: auto;
}

.social-icons {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

}

.social-icons i {
    font-size: 15px;
    color: var(--secondary-color);
    cursor: pointer;
    stroke: 3px var(--secondary-color);
}

/*Navigation Section*/
.nav {
    padding: 2rem 8rem;
    width: 100%;
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}


.logo a {
    font-size: 25px;
    font-weight: 800;
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 10px;
    font-family: var(--font-heading);
    text-align: left;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    padding: .5rem;
    max-inline-size: 100%;
}

.nav-links li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    transition: all 0.3s ease-in .7s;

}

.nav-links li a:active {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.nav-links li a:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 4px;
}

.section-wrapper {
    width: 100%;
    height: 100vh;
    padding: 4rem 8rem;
    border: 1px solid;
    background: pink;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-section {

    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)),url(/assets/hero_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border:none;
}

.hero-wrapper {
    width: 75%;
    height: auto;
    background: ;
    padding:2rem 0;

}
.hero-wrapper p{
    font-size:20px;
    font-weight: 100;
    font-family: var(--font-body);
    margin-bottom: 50px;
    color: var(--primary-color);
}
.hero-wrapper h2{
    font-size: 4rem;
    text-wrap: wrap;
    font-family: var(--font-heading);
    font-weight: 800;
    margin-bottom: 50px;
}
.cta-button{
    text-decoration: none;
    color: var(--secondary-color);
    padding:.5rem;
    background: var(--primary-color);
    margin: 10px auto;
    border:none;
    border-radius:5px;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
}